.btn {
    margin: 10px;
    font-size: 1.4rem;
    padding: 12px 14px;
    border-radius: 4px;
    border: 1px solid $black;
    transition: all 0.5s ease;
    // &:hover {
    //     background: darken($white, 6)
    // }
    // &:active {
    //     background: darken($white, 6);
    //     transform: scale(0.96);
    // }
}
