/*=============================================
=                 FORM STYLES                 =
=============================================*/

.btn {
    margin-right: 8px;
}
  
.toggle-all {
     height: 40px;
     min-width: 40px;
     margin: 0;
     padding: 0;
     background-color: inherit;
     border: none;
     border-top: 0.5px solid $grey;
     border-bottom: 0.5px solid $grey;
     border-left: 0.5px solid $grey;
     float: left;

     &:hover {background-color: darken($white, 5%);}
 }
 
 .add-todo {
     height: 40px;
     max-width: 480px;
     padding: 0;
     margin: 10px auto;
     display: flex;
 }
 
 #addTodoTextInput {
     width: 400px;
     height: 40px;
     margin: 0;
     padding: 14px;
     border: 0.5px solid $grey;
     -webkit-appearance: none;
     font-size: 1.2em;
     font-family: "Open Sans";
     font-weight: 400;
     color: $brand;
     float: left;
     flex-shrink: 1;
     border-radius: 0;
 }
 
 #add-button {
     height: 40px;
     min-width: 42px;
     margin: 0;
     padding: 0;
     background-color: inherit;
     border: none;
     border-top: 0.5px solid $grey;
     border-bottom: 0.5px solid $grey;
     border-right: 0.5px solid $grey;
     float: right;
     transition: all 0.4s ease;

     &:hover {
         background-color: darken($white, 5%);
         text-decoration: none;
         }
 }
 
 .todos {
     margin: 60px 0;
 }

 ul {
     list-style: none;
     margin-bottom: 20px;
 }
 
 li {
     height: auto;
     max-width: 660px;
     padding: 24px 32px 52px;
     background-color: white;
     font-size: 1em;
     font-family: "Open Sans";
     font-weight: 400;
     margin: 6px auto;
     line-height: 1;
     clear: both;
     border: 1px solid #ddd;
     cursor: pointer;
     transition: all 0.4s ease;
     box-shadow: 4px 2px 2px 0 $shadow, 0 6px 16px 0 $shadow;
        p {
            padding-top: 24px;
        }
     &:hover {
        //  box-shadow: 4px 2px 8px 2px $shadow, 0 6px 16px 2px $shadow;
        transform: scale(1.006);
         }
 }
#articles-ul {
     margin-bottom: 200px;
}
 .top-li {
     border: 1px solid $brand;
     text-align: center; 
     line-height: 76px;
     padding: 0 20px;
     transition: all 0.3s ease;
     
     &:hover {
        background-color: $brand;
        transform: none;
         }

     &:active {
         transform: scale(0.99);
         }
     
 }
 
 .editButton {
     height: 39px;
     width: 40px;
     line-height: 38px;
     background-color: rgba( $white, 0);
     border: 0.5px solid $grey;
     float: right;
     z-index: 1;
     transition: all 0.4s ease;
     margin: 18px 10px;
     text-align: center;
     font-size: 1rem;

          &:hover {
         background-color: darken($white, 5%);
         text-decoration: none;
         }
 }
 
 .deleteButton, .addButton {
     height: 39px;
     width: 40px;
     line-height: 38px;
     background-color: rgba( $white, 0);
     border: 0.5px solid $grey;
     float: right;
     text-align: center;
     transition: all 0.4s ease;
     margin: 18px 10px;
     font-size: 1rem;

          &:hover {
         background-color: darken($white, 5%);
         text-decoration: none;
         }
 }

 .addButton {
    border: 0.5px solid $white;
     border-radius: 100%;
     margin: 0;
     float: none;
     padding: 12px 17px;

    &:hover .fa-plus {
              color: $brand;
              border-color: $brand;
         }
}

.fa-plus {
    color: $white;
}
 
 .btn-blue {
     background-color: $brand;
     color: $white;   
     transition: all 0.4s ease; 
     border: 2px solid $brand;
     font-weight: 600;
     &:hover {
              color: $brand;
              background-color: darken($white, 1);
         }
 }


 form {
     padding-top: 20px;
 }

textarea
{
    font-size: 22px!important;
}
 
 // Input styles
 input:focus,
 input[type]:focus,
 textarea:focus {
     outline: none;
     border: 1px solid $brand !important;
 }
 
 input:hover::-webkit-input-placeholder,
 {
     color: $grey;
     transition: all 0.6s ease;
 }
 
 input:hover:-moz-placeholder {
     color: $grey;
     transition: all 0.6s ease;
 }
 
 input:hover::-moz-placeholder {
     color: $grey;
     transition: all 0.6s ease;
 }
 
 input:hover:-ms-input-placeholder {
     color: $grey;
     transition: all 0.6s ease;
 }