// --------------------------------------------------
// Colors
// --------------------------------------------------


//--------------------------------
// Brand
//--------------------------------

$brand     : rgba(89, 149, 240, 1.0);

//--------------------------------
// Backgrounds
//--------------------------------

$background: rgba(251, 251, 251, 1.0);
$footer    : rgba(31, 32, 34, 1.0);


//--------------------------------
// Colors
//--------------------------------

$black     : rgba(0,0,0,.8);
$display   : rgba(55, 6, 16, 1.0);
$d-border  : rgba(16, 2, 7, 1.0);
$d-color   : rgba(209, 25, 33, 1.0);
$white     : rgba(251, 251, 251, 1.0);
$grey      : rgba(72, 72, 72, 0.4);
$silver: rgba(135, 135, 135, 1.0);
$silver-text: rgba(195, 195, 195, 1.0);
$blue   : rgba(4, 4, 180, 1.0);
$red  : rgba(244, 67, 54,0.9);
$yellow : rgba(255, 235, 59,1.0);

$red-fave: rgba(244, 67, 54, 0.8);
$green-fave: rgba(139, 195, 74, 0.8);
$blue-fave: rgba(3, 169, 244, 0.8);
$orange-fave: rgba(255, 152, 0, 0.8);

//--------------------------------
// Utilities
//--------------------------------

$text      :   $white;
$link      :   $black;
$icons     : rgba(245, 21, 35, 1.0);
$button    : rgba(252, 45, 35, 1.0);
$shadow    : rgba(99, 99, 99, 0.5);
$outline   :   $brand;

$black-bg     : rgba(38, 38, 38, 0.6);


.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}