// --------------------------------------------------
// Colors
// --------------------------------------------------


//--------------------------------
// Brand
//--------------------------------

$brand     : rgba(89, 149, 240, 1.0);

//--------------------------------
// Backgrounds
//--------------------------------

$background: rgba(251, 251, 251, 1.0);
$footer    : rgba(31, 32, 34, 1.0);


//--------------------------------
// Colors
//--------------------------------

$black     : rgba(0,0,0,.8);
$display   : rgba(55, 6, 16, 1.0);
$d-border  : rgba(16, 2, 7, 1.0);
$d-color   : rgba(209, 25, 33, 1.0);
$white     : rgba(251, 251, 251, 1.0);
$grey      : rgba(72, 72, 72, 0.4);
$silver: rgba(135, 135, 135, 1.0);
$silver-text: rgba(195, 195, 195, 1.0);
$red    : rgba(150, 16, 4, 1.0);
$blue   : rgba(4, 4, 180, 1.0);
$green  : rgba(18, 111, 30, 1.0);
$yellow : rgba(180, 180, 40, 1.0);


//--------------------------------
// Utilities
//--------------------------------

$text      :   $white;
$link      :   $black;
$icons     : rgba(245, 21, 35, 1.0);
$button    : rgba(252, 45, 35, 1.0);
$shadow    : rgba(99, 99, 99, 0.3);
$outline   :   $brand;

$black-bg     : rgba(38, 38, 38, 0.6);


