/*=======================================
=              MEDIA QUERIES           =
=======================================*/


/* -- BREAK 1 -- */

@media all and (max-width: 700px) {


    h1 {font-size: 1.8em}
    h2 {
        font-size: 3.3em;
        padding-top: 0;
    }
    #game-area {
        width: 400px;
        height: 400px;
    }
    #center-panel {
        width: 180px;
        height: 180px;
        border: 10px solid $black;
    }
    #logo-panel {
        height: 80px;
        width: 160px;
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
        img {
            padding: 8px 0 0 0;
            width: 26px;
        }
    }
    .game-button {
        width: 200px;
        height: 200px;
        border: 7px solid $black;
    }

    #label-con {
    padding: 0;
}

    label {
    margin: 0 8px;
    font-size: 0.8rem;
}

    #btn-con {
        padding: 0;
    }
    .buttons {
        height: 32px;
        width: 32px;
        border: 2px solid $d-border;
        margin: 1px 5px 4px;
    }
    #display {
        width: 54px;
        height: 25px;
        font-size: 1.75rem;
    }

    footer {
	padding:     8px;
    font-size: 0.8em;
    }

}


/* -- BREAK 2 -- */

@media all and (max-width: 440px) {
    h2 {
        font-size: 2.7em;
    }
    #game-area {
        width: 300px;
        height: 300px;
    }
    #center-panel {
        width: 150px;
        height: 150px;
        border: 10px solid $black;
    }
    #logo-panel {
        height: 65px;
        width: 130px;
        img {
            padding: 8px 0 0 0;
            width: 20px;
        }
    }
    .game-button {
        width: 150px;
        height: 150px;
        border: 7px solid $black;
    }

       label {
    margin: 0 10px;
    font-size: 0.6rem;
}

    .buttons {
        height: 27px;
        width: 27px;
        margin: 0 5px 2px;
    }
    #display {
        width: 40px;
        height: 24px;
        font-size: 1.6rem;
    }

}