/*=============================================
=                 MEDIA QUERIES               =
=============================================*/


/* -- BREAK 1 -- */
@media only screen and (max-width: 600px) {

.container {
    margin: 0;
    padding: 0;
}

 .addHome {
     display: none;
 }

 .addbutton-hover {
   display: block;
}


    #article-section {
    margin: 10px auto;
    padding: 0 18px 60px;
    p {
        font-size: 1.1rem;
        line-height: 1.4;
        letter-spacing: -0.072px
    }
    }
}