/*=============================================
=                 TYPOGRAPHY                  =
=============================================*/


* {
    color: $black;
    font-family: "Open Sans";
}

p {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.58;
    word-break: break-word;
    word-wrap: break-word;
}

.child p, .child p a {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.58;
}

.child p a {
    text-decoration: none;
    position: relative;

    &:hover {
        text-decoration: none;
    }
}

.child p a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}

h1 {
    font-size: 2em;
    font-family: "Open Sans";
    font-weight: 700;
    color: $black;
    padding: 10px 0;
}

.logo a {
    font-size: 1.5em;
    font-family: "Open Sans";
    font-weight: 400;
    color: $white;
    &:hover {
        text-decoration: none;
    }
    span {
        color: $black;
        font-weight: 700;
    }
}



h5 {
    font-size: 1em;
    font-family: "Open Sans";
    font-weight: 200;
    color: $black;
    padding: 0px 0 32px;
}

.child a {
    font-size: 1.5em;
    color: $black;
    line-height: 1;
    font-family: "Open Sans";
    font-weight: 600;
}

.child a:hover {
    text-decoration: underline;
    color: $black;
    }

    label {
        padding: 8px 0;
    }

.built a,
strong {
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    transition: all 0.6s ease;
}


// FONTAWESOME STYLES
i {color: $black;}

.fa-heart {
    font-size: 12px;
    color: $button;
}