@import "normalise";
@import "colors";
@import "typography";
@import "modals";
@import "buttons";

*  {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

a {text-decoration: none;}

header {
    height          : 56px;
    width           : 100%;
    background      : $brand;
    border-bottom   : 1px solid #bbb;
    box-shadow      : 0 2px 6px -4px #999;
    position        : fixed;
    top             : 0;
    z-index         : 10;
}

nav {
    max-width       : 920px;
    height          : 56px;
    margin          : 0 auto;
    padding         : 0 26px;
    display         : flex;
    justify-content : center;
}


.logo { align-self  : center; }

// --- CONTENT AREA --- //
main {
    margin-top: 60px;
    margin-bottom   : -32px;
}

main:after {
    display         : block;
}



.container-main  {
    max-width       : 920px;
    height          : 100vh;
    margin          : 100px auto;
    padding         : 20px 0;
    text-align      : center;
}


#todo-section {
    margin          : 0 auto;
    height          : auto;
    width           : 600px;
    padding         : 30px 0 60px 0;
    background-color: white;
    border          : 1px solid #ddd;
    cursor          : pointer;
    box-shadow      : 0 4px 8px 0 $shadow, 0 6px 16px 0 $shadow;
}


#edit-section {
    margin-top      : 50px;
}

.top-li {
    text-align: center;
    background-color: $brand;
    a {color: $white}
}


// ---- Footer ---- //
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    display: table;
    text-align: center;
    position: fixed;
    background: $brand;
}

.built {
    color: white;
    display: table-cell;
    vertical-align: middle;
}

// ---- Footer Styles ---- //
footer p {
    font-size: 1em;
}

.built a,
strong {
    font-weight: 500;
    &:hover {
        text-decoration: underline
    }
}

.fa-heart {
    font-size: 12px;
    color: #fc2d23;
}

.fa-free-code-camp {
    padding: 0 5px 0 0;
    color: white;
}

@import "media-queries";