@import "normalise";
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300,400,700');
@import "typography";
@import "modals";
@import "buttons";

html {
    position: relative;
    min-height: 100%;
}


body {
    margin: 0 0 30px 0; /* bottom = footer height */
    padding: 0 0 25px;
}

*  {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    }

.navbar {
    min-height: 48px;
}

.navbar-default {
    width           : 100%;
    background      : $brand;
    border: none;
    box-shadow      : none;
    position        : fixed;
    top             : 0;
    z-index         : 10;
}

.container-nav {
    max-width: 920px;
    margin : 0 auto;
    padding: 0 0;
}

.navbar-default .navbar-nav li a {
    font-family: "Open Sans";
    color: $white;
}

.navbar-default .navbar-toggle {
    
    &:hover{
    background-color: desaturate(darken($brand, 7%), 5);
    }
    &:focus {
        background-color: desaturate(darken($brand, 7%), 20%);
    }
}


.collapsing ul li, .in ul li {
    padding: 8px 14px;
    }

button .navbar-toggle .collapsed {
    border-color: $white;
    margin-top: 0;
    background-color: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $white;
}

.navbar-collapse {
    background-color: $brand;
    padding: 0;
    border-top:none;
    box-shadow: none;
}

.logo { margin: 13px 16px;}

// --- CONTENT AREA --- //
main {
    margin-top: 60px;
}


.container-main  {
    max-width       : 920px;
    height          : 100vh;
    margin          : 100px auto;
    padding         : 20px 0;
    text-align      : center;
}

.form {
    margin: 20px auto 100px;
    width: 80%;
}

#todo-section, #article-section, #edit-section {
    margin          : 30px auto;
    height          : auto;
    max-width       : 520px;
    padding         : 30px 0 60px 0;
    background-color: white;
    p {
    word-break: break-word;
    word-wrap: break-word;
    letter-spacing: .03em;
    }
}

#article-section {
    max-width: 690px;
}

.top-li {
    text-align: center;
    background-color: $brand;
    a {color: $white}
}
textarea, input {
    font-size: 1.1rem!important;
    line-height: 1.38!important;
}

.fave {
    background: url('/images/star.png');
    background-position: top 8px right 8px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success_message {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}


.options > label > input {
    visibility: hidden;
}

.options > label {
    display: inline-block;
    margin: 0 0 0 -10px;
    padding: 20px 20px 20px 0;
    
}

.options > label > img {
    display: inline-block;
    padding: 0px;
    min-height:24px;
    min-width:24px;
}

.options > label > input:checked +img {  
     background: url('/images/tick.png');
     background-position: center center;
     background-size: 18px auto;
     background-repeat: no-repeat;
}

.options > label > #red {
     background-color: $red-fave;
}

.options > label > #green {
     background-color: $green-fave;
}

.options > label > #blue {
     background-color: $blue-fave;
}

.options > label > #orange {
     background-color: $orange-fave;
}


// Artice styles 

.red-body {
     background-color: $red-fave;
     &:hover {
         background-color: rgba( $red-fave, 1 );
     }
}
.green-body {
     background-color: $green-fave;
     &:hover {
         background-color: rgba( $green-fave, 1 );
     }
}
.blue-body {
     background-color: $blue-fave;
     &:hover {
         background-color: rgba( $blue-fave, 1 );
     }
}
.orange-body {
     background-color: $orange-fave;
     &:hover {
         background-color: rgba( $orange-fave, 1 );
     }
}

// ---- Footer ---- //
footer {
    height: 30px;
    width: 100%;
    display: table;
    text-align: center;
    position: absolute;
    background: $brand;
    bottom: 0;
    overflow: hidden;
}

.built {
    color: white;
    display: table-cell;
    vertical-align: middle;
}

// ---- Footer Styles ---- //
footer p {
    font-size: 0.8em;
    font-family: "Open Sans";
}

.built a,
strong {
    
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 0.96em;
    &:hover {
        text-decoration: underline
    }
}

.fa-heart {
    font-size: 12px;
    color: #fc2d23;
}

.fa-free-code-camp {
    padding: 0 5px 0 0;
    color: white;
}
@import "media-queries";