extends layout

block content
    #todo-section
        h1 #{title}
        form(method='POST', action='/articles/add')
            #form-group
                label Title:
                input.form-control(name='title', type='text')
            #form-group
                label Body:
                textarea.form-control(name='body' rows='10')
            br
            .checkbox
                label
                    input(type="checkbox", name="check", value="false" onclick="$(this).attr('value', this.checked ? 1 : 0)")
                    |  Favourite?
            input.btn.btn-blue(type='submit',value='Submit')