extends layout

block content
    #article-section
        h1= article.title
        h5= date
        p!= article.body.replace(/\n/g, '<br />')
        hr
        a.btn.btn-default(href='/article/edit/' +article._id) Edit
        a.btn.btn-danger.delete-article(href='#', data-id=article._id) Delete