extends layout

block content
    #todo-section
        h1 #{title}
        form(method='POST',action='/articles/edit/'+article._id)
            #form-group
                label Title:
                input.form-control(name='title', type='text', value=article.title)
            #form-group
                label Body:
                textarea.form-control(name='body' rows='10')= article.body
            br
            .checkbox
                label
                    input(type="checkbox", name="check", value="false" onclick="$(this).attr('value', this.checked ? 1 : 0)")
                    |  Favourite?
            .row
                .options
                    label(title='red')
                        input(id='red', type='radio', name='color', value='0', onclick="$(this).attr('value', this.checked ? 1 : 0)")
                        img#red 
                    label(title='green')
                        input(id='green', type='radio', name='color', value='0', onclick="$(this).attr('value', this.checked ? 2 : 0)")
                        img#green
                    label(title='blue')
                        input(id='blue', type='radio', name='color', value='0', onclick="$(this).attr('value', this.checked ? 3 : 0)")
                        img#blue
                    label(title='blue')
                        input(id='orange', type='radio', name='color', value='0', onclick="$(this).attr('value', this.checked ? 4 : 0)")
                        img#orange
                        
            input.btn.btn-primary(type='submit',value='Submit')
