extends layout

block content
    div.todos
        h1 #{title}
            ul
                li
                    a(href="/articles/add/").center Add Note
                    each article, i in articles
                        li
                            a(href="/article/" +article._id)= article.title
                            a.deleteButton.delete-article(href='#', data-id=article._id) X
                            a.editButton(href='/article/edit/' +article._id) Edit