extends layout

block content
    div.todos
        div#articles-ul
            if user
                div.child.addHome(data-id="/articles/add")
                    a.add-div(href='/articles/add')
            else
                div.child.addHome(data-id='/users/login')
                    a.add-div(href='/users/login')
            each article, i in articles.reverse()
                if article.fave
                    div.child.fave(data-id="/articles/" +article._id)
                        div.inner(data-id="/articles/" +article._id)
                            a(data-id="/articles/" +article._id)= article.title
                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                        
                        div(data-id="/articles/" +article._id).bottom
                            a.readmore(data-id="/articles/" +article._id) More...
                else
                    div.child(data-id="/articles/" +article._id)
                        div.inner(data-id="/articles/" +article._id)
                            a(data-id="/articles/" +article._id)= article.title
                            p(data-id="/articles/" +article._id)!= article.body.replace(/\n/g, '<br />').substring(0, 400)
                        
                        div(data-id="/articles/" +article._id).bottom
                            a.readmore(data-id="/articles/" +article._id) More...
        a.addbutton-hover(href='/articles/add/') +
            

                    