extends layout

block content
    h1 #{title}
    table.table.table-bordered.table-striped.table-hover
        each article, i in articles
            tr
                td
                    a(href="/article/" +article._id)= article.title