extends layout

block content
    div.todos
        h1 #{title}
            ul
                li.top-li
                    a(href="/articles/add/") Add Note
                    a.deleteButton(href='/articles/add/')
                        i.fa.fa-plus(aria-hidden='true')
            ul
                each article, i in articles
                    li(data-id="/article/" +article._id)
                        a(data-id="/article/" +article._id)= article.title
                        a.editButton(href='/article/edit/' +article._id) Edit