extends layout

block content
    div.todos
        h1 #{title}
            ul
                li.top-li
                    a.addButton(href='/articles/add/')
                        i.fa.fa-plus(aria-hidden='true')
            ul#articles-ul
                each article, i in articles.reverse()
                    li(data-id="/article/" +article._id)
                        a(data-id="/article/" +article._id)= article.title
                        p(data-id="/article/" +article._id)= article.body