doctype html
html
    head
        title Knowledge Base
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/bower_components/components-font-awesome/css/font-awesome.css')
        link(rel='stylesheet' href='/css/stylesheet.css')
    body
        header
            nav
                h1.logo
                    a(href='/')
                        span Todo
                        | List
        main
            .container
                block content
        footer
            p.built
                | Built with 
                i.fa.fa-heart(aria-hidden='true')
                |  by 
                a(href='http://www.richardmiddleton.me')
                    strong RICHARD MIDDLETON
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')