extends layout

block content
    #todo-section
        h1 Login
        form(method='POST', action='/users/login')
            #form-group
                label Username
                    input(name="username" type="text")
            #form-group
                label Password
                    input(name="password" type="password")
            input.btn.btn-blue(type='submit',value='Submit')