html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*=============================================
=                 TYPOGRAPHY                  =
=============================================*/
* {
  color: #262626;
  font-family: "Open Sans"; }

p {
  font-family: "Open Sans";
  font-weight: 300; }

h1 {
  font-size: 1.5em;
  font-family: "Open Sans";
  font-weight: 200;
  color: whitesmoke; }
  h1 span {
    color: #262626;
    font-weight: 700; }

h2 {
  font-size: 1.5em;
  font-family: "Open Sans";
  font-weight: 200;
  color: #262626;
  padding-bottom: 20px;
  text-align: center; }
  h2 span {
    color: #262626;
    font-weight: 700; }

a {
  font-size: 1em;
  color: #262626; }

a:hover {
  text-decoration: underline;
  color: #262626; }

.built a,
strong {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  transition: all 0.6s ease; }

i {
  color: #262626; }

.fa-heart {
  font-size: 12px;
  color: #fc2d23; }

#modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(38, 38, 38, 0.6);
  z-index: 2; }

#winner, #start {
  width: 500px;
  height: 380px;
  position: absolute;
  margin: auto;
  top: -80px;
  bottom: 0;
  left: 0;
  right: 0;
  background: whitesmoke;
  color: #262626;
  border: 1px solid #262626;
  text-align: center;
  padding: 120px;
  z-index: 10; }

#start {
  padding: 60px; }

#X, #O, #one, #two {
  margin: 30px 10px;
  cursor: pointer;
  cursor: hand;
  transition: all 0.4s ease; }
  #X:hover, #O:hover, #one:hover, #two:hover {
    background: #878787; }
  #X:active, #O:active, #one:active, #two:active {
    background: #7a7a7a; }

.close {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
  cursor: hand; }

.hidden {
  display: none; }

/*=============================================
=                 FORM STYLES                 =
=============================================*/
.toggle-all {
  height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
  border-top: 0.5px solid rgba(72, 72, 72, 0.4);
  border-bottom: 0.5px solid rgba(72, 72, 72, 0.4);
  border-left: 0.5px solid rgba(72, 72, 72, 0.4);
  float: left; }
  .toggle-all:hover {
    background-color: #e8e8e8; }

.add-todo {
  height: 40px;
  max-width: 480px;
  padding: 0;
  margin: 10px auto;
  display: flex; }

#addTodoTextInput {
  width: 400px;
  height: 40px;
  margin: 0;
  padding: 14px;
  border: 0.5px solid rgba(72, 72, 72, 0.4);
  -webkit-appearance: none;
  font-size: 1.2em;
  font-family: "Open Sans";
  font-weight: 400;
  color: #d80060;
  float: left;
  flex-shrink: 1;
  border-radius: 0; }

#add-button {
  height: 40px;
  min-width: 42px;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
  border-top: 0.5px solid rgba(72, 72, 72, 0.4);
  border-bottom: 0.5px solid rgba(72, 72, 72, 0.4);
  border-right: 0.5px solid rgba(72, 72, 72, 0.4);
  float: right;
  transition: all 0.4s ease; }
  #add-button:hover {
    background-color: #e8e8e8;
    text-decoration: none; }

.todos {
  margin: 60px 0; }

ul {
  list-style: none; }

li {
  height: 80px;
  max-width: 500px;
  padding-left: 50px;
  background-color: white;
  font-size: 1em;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 6px auto;
  line-height: 80px;
  clear: both;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 4px 2px 2px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3); }
  li:hover {
    background-color: #f2f2f2;
    transform: scale(1.01); }

.top-li {
  border: 1px solid #d80060; }
  .top-li:hover {
    background-color: #d80060;
    transform: none; }

.editButton {
  height: 39px;
  width: 40px;
  line-height: 38px;
  background-color: rgba(245, 245, 245, 0);
  border: 0.5px solid rgba(72, 72, 72, 0.4);
  float: right;
  z-index: 1;
  transition: all 0.4s ease;
  margin: 18px 10px 15px 0;
  text-align: center;
  font-size: 1rem; }
  .editButton:hover {
    background-color: #e8e8e8;
    text-decoration: none; }

.deleteButton {
  height: 39px;
  width: 40px;
  line-height: 38px;
  background-color: rgba(245, 245, 245, 0);
  border: 0.5px solid rgba(72, 72, 72, 0.4);
  float: right;
  text-align: center;
  transition: all 0.4s ease;
  margin: 18px 10px 15px 0;
  font-size: 1rem; }
  .deleteButton:hover {
    background-color: #e8e8e8;
    text-decoration: none; }

#changeTodoPositionInput {
  width: 40px; }

input:focus,
input[type]:focus,
textarea:focus {
  outline: none;
  border: 1px solid #d80060 !important; }

input:hover::-webkit-input-placeholder {
  color: rgba(72, 72, 72, 0.4);
  transition: all 0.6s ease; }

input:hover:-moz-placeholder {
  color: rgba(72, 72, 72, 0.4);
  transition: all 0.6s ease; }

input:hover::-moz-placeholder {
  color: rgba(72, 72, 72, 0.4);
  transition: all 0.6s ease; }

input:hover:-ms-input-placeholder {
  color: rgba(72, 72, 72, 0.4);
  transition: all 0.6s ease; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

header {
  height: 56px;
  width: 100%;
  background: #d80060;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 2px 6px -4px #999;
  position: fixed;
  top: 0;
  z-index: 10; }

nav {
  max-width: 920px;
  height: 56px;
  margin: 0 auto;
  padding: 0 26px;
  display: flex;
  justify-content: center; }

.logo {
  align-self: center; }

main {
  margin-top: 60px;
  margin-bottom: -32px; }

main:after {
  display: block; }

.container-main {
  max-width: 920px;
  height: 100vh;
  margin: 100px auto;
  padding: 20px 0;
  text-align: center; }

#todo-section {
  margin: 0 auto;
  height: auto;
  width: 600px;
  padding: 30px 0 60px 0;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3); }

#edit-section {
  margin-top: 50px; }

.top-li {
  text-align: center;
  background-color: #d80060; }
  .top-li a {
    color: whitesmoke; }

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  display: table;
  text-align: center;
  position: fixed;
  background: #d80060; }

.built {
  color: white;
  display: table-cell;
  vertical-align: middle; }

footer p {
  font-size: 1em; }

.built a,
strong {
  font-weight: 500; }
  .built a:hover,
  strong:hover {
    text-decoration: underline; }

.fa-heart {
  font-size: 12px;
  color: #fc2d23; }

.fa-free-code-camp {
  padding: 0 5px 0 0;
  color: white; }

/*=======================================
=              MEDIA QUERIES           =
=======================================*/
/* -- BREAK 1 -- */
